.container-item-tag {
    padding: 15px 10px 15px 20px;
}

.container-item-tag-header {
    text-decoration: none;
    color: #637381;
    font-size: 16px;
}

.container-item-tag-icon {
    color: #637381;
    margin-right: 20px;
    font-size: 20px;
}

.container-item-tag:hover {
    background-color: #f4f6f8;
}

.container-item-tag.active {
    border-right: #00ab55 4px solid;
    background-color: #f4f6f8;
}
.container-item-tag.active .container-item-tag-header{
    color: #00ab55;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}
.container-item-tag.active .container-item-tag-icon{
    color: #00ab55;
}
/* right */

.container-img-card {
    position: relative;
    width: 450px;
    height: 300px;
    margin: 10px 10px 10px 10px;
}

.img-headerPosition {
    /* position: relative; */
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.overlay-img-headerPosition {
    position: absolute;
    top: 60%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.overlay-inside-date {
    color: #a4b9cb;
    font-size: 12px;
    font-weight: 700;
    margin: 10px;
}

.overlay-inside-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

.overlay-inside-interaction {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 10px 10px 10px;
}

.overlay-inside-interaction-icon{
    color: #a4b9cb;
    width: 12px;
}
.overlay-inside-interaction-title{
    color: #a4b9cb;
    font-size: 12px;
}

.container-dashboard,.container-staffs{
    display: none;
}
.container-menu{
    display: none;
}
.container-menu.active{
    display: block;
}