.staff__header{
    padding: 24px 32px;
    display: flex;
    align-items: center;
}
.staff__search{
    width: 100%;
    border: 1px solid #929DA7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.staff__search-icon{
    font-size: 15px;
    padding: 8px 8px;
    cursor: pointer;
}
.staff__search-input{
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 16px 8px 4px;
    font-size: 14px;
}
.staff__add{
    margin-left: 16px;
}
.staff__add-btn{
    padding: 9px 12px;
    border-radius: 50%;
    background-color: #ECEFF3;
}
.staff__add-icon{
    font-size: 14px;
    color: black;
}
.staff__container{
    margin: 16px 32px;
}
.staff__container-name{
    font-size: 20px;
    margin: 0 0 24px 0;
}
.staff__container-list{

}