
<div>
    <div class="grid-page-right">
        <div class="div-grid-page-right active">
            <p class="title-grid-page-right">Total Customers</p>
        </div>
        <div class="div-grid-page-right">
            <p class="title-grid-page-right">Add New Customer</p>
        </div>
    </div>
    <div class="content-left-grid-page-right">
        <p>total customers</p>
    </div>
    <div class="content-right-grid-page-right">
        <p>add new customer</p>
    </div>
</div>
{{!-- những đoạn code liên quan đến page này thì code ở link dưới nó nằm trong thư mục public --}}
<script src="util/customers.js"></script>

<script>
    $('.container-item-tag').removeClass('active')
    $('.container-item-tag').eq(2).addClass('active')
</script>