<div style="display: grid; grid-template-columns: 50% 50%;margin: 10px 10px 10px 10px;">
    <div class="container-img-card">
        <img class="img-headerPosition" src="./img/vinhhalong/vinhhalong1.png" alt="">
        <div class="overlay-img-headerPosition">
            <p class="overlay-inside-date">20 November 2020</p>
            <p class="overlay-inside-title">Tour : Ha Noi - Hai Phong - Quang Ninh</p>
            <div class="overlay-inside-interaction">
                <i class="fas fa-comment-dots overlay-inside-interaction-icon"></i>
                <span class="overlay-inside-interaction-title">120k</span>
                <i class="fas fa-eye overlay-inside-interaction-icon"></i>
                <span class="overlay-inside-interaction-title">120k</span>
                <i class="fas fa-share-alt overlay-inside-interaction-icon"></i>
                <span class="overlay-inside-interaction-title">120k</span>
            </div>
        </div>
    </div>
    <div class="container-img-card">
        <img class="img-headerPosition" src="./img/hoian/hoian1.png" alt="">
        <div class="overlay-img-headerPosition">
            <p class="overlay-inside-date">20 November 2020</p>
            <p class="overlay-inside-title">Tour : Da Nang - Hoi An</p>
            <div class="overlay-inside-interaction">
                <i class="fas fa-comment-dots overlay-inside-interaction-icon"></i>
                <span class="overlay-inside-interaction-title">120k</span>
                <i class="fas fa-eye overlay-inside-interaction-icon"></i>
                <span class="overlay-inside-interaction-title">120k</span>
                <i class="fas fa-share-alt overlay-inside-interaction-icon"></i>
                <span class="overlay-inside-interaction-title">120k</span>
            </div>
        </div>
    </div>
</div>
<p>hieu</p>
<div style="display: grid;grid-template-columns: 45% 10% 45%;">
    <div style="text-align: right;">
        <span>20 November 2021</span>
        <span>11:20 - 12:40</span>
    </div>
    <div style="position: relative;float: left;">
        <i class="fas fa-map-marker-alt" style="width: 100px;height: 30px;color: rgb(44, 89, 173);"></i>
        <p style="border-left: 3px dashed rgb(44, 89, 173);height:40px;margin-left: 47%">
        </p>
    </div>
    <div style="text-align: left;">
        <span>Tiến hành đi du lịch</span>
    </div>
</div>

{{#each lichtrinh}}
<p>{{this.MaTour}}</p>
{{/each}}
<script>
    $('.container-item-tag').removeClass('active')
    $('.container-item-tag').eq(0).addClass('active')

</script>