<link rel="stylesheet" href="/css/staffs.css">
{{#each nhanviens}}
<p>{{this.TenNhanVien}}</p>
{{/each}}
<a href="/staffs/addNewStaff">add new staffs</a>


{{!-- những đoạn code liên quan đến page này thì code ở link dưới nó nằm trong thư mục public --}}
<script src="util/staffs.js"></script>

<script>
    $('.container-item-tag').removeClass('active')
    $('.container-item-tag').eq(1).addClass('active')
    /////

</script>