<p>statistics</p>

{{!-- những đoạn code liên quan đến page này thì code ở link dưới nó nằm trong thư mục public --}}
<script src="util/statistics.js"></script>

<script>
    $('.container-item-tag').removeClass('active')
    $('.container-item-tag').eq(4).addClass('active')
    
</script>