<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domestic Tour</title>
    <link rel="icon" href="https://cloud.mongodb.com/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400&display=swap" rel="stylesheet">

    {{!-- apexcharts --}}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <style>
        * {
            box-sizing: border-box;
            font-family: 'Public Sans', sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--  -->
    <script defer src="/@fortawesome/fontawesome-free/js/brands.js"></script>
    <script defer src="/@fortawesome/fontawesome-free/js/solid.js"></script>
    <script defer src="/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
</head>

<body>
    <div>
        <div id="layout-left-container">
            <img src="/img/logo.png" alt="" style="width: 80%;height: 120px;margin: 20px;">
            <div class="container-item-tag ">
                <i class="fas fa-tachometer-alt container-item-tag-icon"></i>
                <span>
                    <a href="/dashboard" class="container-item-tag-header">Dashboard</a>
                </span>
            </div>
            <div class="container-item-tag ">
                <i class="fas fa-user container-item-tag-icon"></i>
                <span>
                    <a href="/staffs" class="container-item-tag-header">Staffs</a>
                </span>
            </div>
            <div class="container-item-tag ">
                <i class="fas fa-users container-item-tag-icon"></i>
                <span>
                    <a href="/customers" class="container-item-tag-header">Tourist Groups</a>
                </span>
            </div>
            <div class="container-item-tag ">
                <i class="fas fa-torii-gate container-item-tag-icon"></i>
                <span>
                    <a href="/tours" class="container-item-tag-header">Tours</a>
                </span>
            </div>
            <div class="container-item-tag ">
                <i class="fas fa-chart-pie container-item-tag-icon"></i>
                <span>
                    <a href="/statistics" class="container-item-tag-header">Statistics</a>
                </span>
            </div>
        </div>
        <!--layout  right -->
        <div style="padding-left: 280px;" id="divMain">
            {{{body}}}
        </div>
    </div>

</body>
<script>
    $('.div-grid-page-right').on('click', function (e) {
        $('.div-grid-page-right').removeClass('active')
        $(this).addClass('active')
        if ($(this).index() == 1) {
            $('.content-right-grid-page-right').css('display', 'block')
            $('.content-left-grid-page-right').css('display', 'none')
        }
        else if ($(this).index() == 0) {
            $('.content-right-grid-page-right').css('display', 'none')
            $('.content-left-grid-page-right').css('display', 'block')
        }
    })
    let pathname = window.location.pathname;
    console.log(pathname)
    if (pathname == "/") {
        $('#layout-left-container').css('display', 'none')
        $('#divMain').css('padding-left', '0px')
    }
    else {
        $('#layout-left-container').css('display', 'block')
        $('#divMain').css('padding-left', '280px')
    }
</script>

</html>