<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400&display=swap" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
            font-family: 'Public Sans', sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--  -->
    {{!--
    <script defer src="../../../../node_modules/"></script> --}}

    <script defer src="@fortawesome/fontawesome-free/js/brands.js"></script>
    <script defer src="@fortawesome/fontawesome-free/js/solid.js"></script>
    <script defer src="@fortawesome/fontawesome-free/js/fontawesome.js"></script>
</head>

<body>
    <div style="display: grid;grid-template-columns: 20% 80%;height: 100vh;width: 100vw">
        <div style="border-right: 1px rgb(235, 234, 234) solid;">
            <img src="./img/logo.png" alt="" style="width: 80%;height: 120px;margin: 20px;">
            <div class="container-item-tag ">
                <i class="fas fa-tachometer-alt container-item-tag-icon"></i>
                <span>
                    <a href="/dashboard" class="container-item-tag-header">Dashboard</a>
                </span>
            </div>
            <div class="container-item-tag ">
                <i class="fas fa-user container-item-tag-icon"></i>
                <span>
                    <a href="/staffs" class="container-item-tag-header">Staffs</a>
                </span>
            </div>
            <div class="container-item-tag ">
                <i class="fas fa-users container-item-tag-icon"></i>
                <span>
                    <a href="/customers" class="container-item-tag-header">Customers</a>
                </span>
            </div>
            <div class="container-item-tag ">
                <i class="fas fa-torii-gate container-item-tag-icon"></i>
                <span>
                    <a href="/tours" class="container-item-tag-header">Tours</a>
                </span>
            </div>
            <div class="container-item-tag ">
                <i class="fas fa-chart-pie container-item-tag-icon"></i>
                <span>
                    <a href="/statistics" class="container-item-tag-header">Statistics</a>
                </span>
            </div>
        </div>
        <!--layout  right -->
        <div style="margin: 10px 10px 10px 10px;" id="divMain">
            {{{body}}}
        </div>
    </div>
</body>

</html>
